.export {
    display: flex;
    flex-direction: column;
}

.export-title-content {
    padding-top: 15px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: #103782;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.export-title {
    padding-top: 10px;
}

.buttons {
    display: flex;
}

.buttons .b1{
    height: 40px;
    width: 150px;
    background-color: #103782;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .b1:hover {
    background-color: #166afc;
}

hr {
    margin-left: 5px;
    margin-right: 5px;
    border-color: #103782;
}

.export-table-content {
    margin: 6px;
    height: calc(100vh - 176px);
    overflow: hidden;
}
