.export {
    display: flex;
    flex-direction: column;
}

.export-title-content {
    padding-top: 15px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: #103782;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.export-title {
    padding-top: 10px;
}

.buttons {
    display: flex;
}

.buttons .b1{
    height: 40px;
    width: 150px;
    background-color: #103782;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .b1:hover {
    background-color: #166afc;
}

hr {
    margin-left: 5px;
    margin-right: 5px;
    border-color: #103782;
}

.export-table-content{
    margin: 6px;
    min-height: calc(100vh - 176px);
    overflow: hidden;
}

.table-header {
    align-items: center;
    padding: 15px;
    background: white;
    border-radius: 8px 8px 0 0;
    height: calc(10vh - 6px);
}

/* Filter Section */
.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dropdown {
    margin-right: 25px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 5px;
}

input[type="datetime-local"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

/* Table Styling */
.table-container {
    margin: 2px;
    background: white;
    border: 1px solid #aaa;
    height: calc(80vh - 160px);
    overflow-y: scroll;
}

/* Fixed Header */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

thead {
    position: sticky;
    top: 0;
    background-color: #103782;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #103782;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 10px;
    background: white;
    border-radius: 0 0 8px 8px;
    align-items: center;
    height: calc(10vh - 15px);
}

.pagination select {
    margin-left: 5px;
    padding: 5px;
}

.pagination span{
    position: relative;
    margin-right: 100px;
}

.pagination-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 40px;
}

.pagination-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}